@model CarViewModel

<div class="card col-4" style="width: 20rem;">
    <img class="card-img-top" src="@Model.ImageUrl" alt="Car Image">
    <div class="card-body">
        <h5 class="card-title mt-1">@Model.Brand</h5>
        <p class="mb-0">Model: @Model.ModelOfCar</p>
        <p class="mb-0">Price: @Model.Price</p>
        @*@String.Format("{0:f2}", Model.PricePerMonth) BGN*@
        <p class="mb-0">Mileage: @Model.Mileage</p>
        <p class="mb-0">Made: @Model.Year</p>
        <p class="mb-0">Category: @Model.Category</p>
    </div>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_@Model.Id">
        Details
    </a>
    <partial name="_CarDetailsPartial" model="@Model" />
    <br>
    <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-success mb-2">Add to Cart</a>
</div>