@model IEnumerable<MyOffersViewModel>

@{
    ViewBag.Title = "My Offers";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <div class="text-center row">
        @foreach (var offer in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                @* <img class="card-img-top" style="width: 18rem;"
        src="@job.ImageUrl" alt="Book Image">*@
                <div class="card-body">

                    @*<h5 class="card-title mt-1">@job.Title</h5>*@
                    <p class="mb-0">Description: @offer.Description</p>
                    <p class="mb-0">Job Owner: @offer.RepairOwnerName</p>
                    <p class="mb-0">Price: @offer.Price.ToString()</p>
                    <p class="mb-0">Condition: @(offer.IsAccepted == null ? "Offer is not reviewed" : offer.IsAccepted == true ? "Offer is Accepted" : "Offer is Declined")</p>
                

                </div>

                @*<form class="input-group-sm" asp-route-jobId="id" asp-controller="Offer" asp-action="Review" method="post">
        <input type="submit" value= class="fs-6 btn btn-success mb-3 p-2" />
        </form>
                <a asp-controller="Offer" asp-action="Review" asp-route-id=@offer.OfferId class="btn btn-primary mb-2">Review This Offer</a>

                <a asp-controller="Job" asp-action="Details" asp-route-id="@job.Id" class="btn btn-success mb-2">Details</a>


        @if (this.User.Id() == job.OwnerId)
        {
        <a asp-controller="Job" asp-action="Edit" asp-route-id="@job.Id" class="btn btn-primary mb-2">Edit</a>

        <a asp-controller="Job" asp-action="Delete" asp-route-id="@job.Id" class="btn btn-danger mb-2">Delete</a>
        }
        else
        {
        <a asp-controller="Offer" asp-action="Send" asp-route-id="@job.Id" class="btn btn-success mb-2">Make offer</a>

        }*@
            </div>
        }
    </div>
    //
}
else
{
    <h3 class="text-center">No offers</h3>
}
