@model OfferServiceViewModel

@{
    ViewBag.Title = "Review Offer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Description</h3>
            <p class="card-text"><span class="fw-bold">OwnerId: </span>@Model.OwnerId</p>
            <p class="card-text"><span class="fw-bold">RepairId: </span>@Model.RepairId</p>
            <p class="card-text"><span class="fw-bold">Price: </span>@Model.Price</p>
            <a asp-controller="Offer" asp-action="Accept" asp-route-id="@Model.Id" class="btn btn-success">Accept</a>
            <a asp-controller="Offer" asp-action="Decline" asp-route-id="@Model.Id" class="btn btn-danger">Decline</a>


            @*@if (Model.OwnerId == this.User.Id())
            {
                   <a asp-controller="Repair" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Repair" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                <tr class="actions">
            <th><span class="fw-bold">Actions:</th>

            <td>
            <a asp-controller="Repair" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="Repair" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            </td>
            </tr>}*@ 
        </div>
    </div>
</div>