@model IEnumerable<RepairViewModel>

@{
    ViewBag.Title = "All Repairs";
}

<div class="text-center row">
    @foreach (var repair in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            @* <img class="card-img-top" style="width: 18rem;"
             src="@repair.ImageUrl" alt="Book Image">*@
            <div class="card-body">

                <h5 class="card-title mt-1">@repair.Brand</h5>
                <p class="mb-0">Model: @repair.Model</p>
                <p class="mb-0">Description: @repair.Description</p>
                <p class="mb-0">Category: @repair.Category</p>
                <p class="mb-0">OwnerName: @repair.OwnerName</p>
                <p class="mb-0">StartDate: @repair.StartDate</p>
            </div>

            <form class="input-group-sm" asp-route-movieId="@repair.Id" asp-controller="Offer" asp-action="Send" method="post">
                <input type="submit" value="Send Offer" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div>